<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django image</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/mystyle.css' %}"/>
</head>
<body>
    <h1>Hello this is a picture of nature!</h1>
    {{show_me}}
    <br>
    <img src= {% static "images/nature.png" %} alt="Uh oh image not found" />
    
</body>
</html>